
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

main{
  background-color: lightpink;
  color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container{
  min-width: 450px;
  background-color: #ffff;
}

.data-container{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 80px;
}

.profilePicture{
  width: 50px;
  margin: 10px;
}

.profile-text-container{
 font-size: 1.2rem;
}

.post-image{
  width: 100%;
}

.likes-container{
  height: 3rem;
  padding: 1rem;
}