
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

main{
  background-color: lightpink;
  color: #ffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.data-container{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 10px 0;
  background-color: #ffff;
}

.profilePicture{
  width: 80px;
  margin-right: 10px;

}